USE [master]
GO
/****** Object:  Database [tarea_1_db]    Script Date: 9/8/2025 9:09:40 AM ******/
CREATE DATABASE [tarea_1_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tarea_1_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tarea_1_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tarea_1_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tarea_1_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tarea_1_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tarea_1_db]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 9/8/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[Salario] [money] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_Insertar_Empleado]    Script Date: 9/8/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insertar_Empleado]
	@NombreP varchar(64),
	@SalarioP money
AS
IF (SELECT count(Nombre) FROM dbo.Empleado WHERE Nombre = @NombreP) != 0
	RETURN 1;

BEGIN TRY
	INSERT INTO dbo.Empleado (Nombre, Salario) VALUES
		(@NombreP, @SalarioP);
	RETURN 0;
END TRY
BEGIN CATCH
	RETURN 1;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[sp_Query_Empleados]    Script Date: 9/8/2025 9:09:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Query_Empleados]
	-- No params
AS
BEGIN
	SELECT Id, Nombre, Salario 
		FROM dbo.Empleado
		ORDER BY Nombre
END
GO
USE [master]
GO
